<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATTERN_FILE" 
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSz.GMT} [%X{traceId}] [%thread] %-5level %logger{50} -%msg%n"/>

    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/java_ast.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/java_ast_%d{yyyyMMdd}_%i.gz</FileNamePattern>
            <maxHistory>15</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN_FILE}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="FILE_INFO"/>
    </root>
</configuration>
    
